<div
  class="container"
  x-data="product"
  x-cloak
>
  <div class="w-full lg:h-[50rem] flex flex-row">
    {% if product.images != blank %}
      <div class="lg:flex-1 w-full hidden lg:block">
        {% render 'image-carousel',
          images: product.images
        %}
      </div>

      <hr class="divider divider-horizontal divider-primary hidden lg:flex" />
    {% endif %}

    {% render 'product-details' %}
  </div>

  <div class="mt-12">
    {% render 'product-description' %}
  </div>
</div>

<script>
document.addEventListener("alpine:init", () => {
  Alpine.data("product", () => ({
    init() {
      this.introAnimation()
    },
    introAnimation() {
      anime({
        targets: this.$el.children,
        opacity: [0, 1],
        translateY: [100, 0],
        delay: anime.stagger(500)
      })
    }
  }))
})
</script>

{% schema %}
{
  "name": "Product",
  "tag": "section"
}
{% endschema %}