<template x-data x-if="$store.cart.data.item_count > 0">
  <div class="container overflow-hidden" style="opacity: 0;" x-data="cart">
    <h1
      class="text-4xl md:text-5xl font-semibold text-center mb-8 lg:mb-16"
      x-ref="heading"
    >
      Shopping Cart
    </h1>
  
    <div
      class="hidden lg:grid grid-cols-7 text-3xl font-semibold"
      x-ref="sectionTitles"
    >
      <h3 class="col-span-4">Product</h3>
  
      <h3 class="col-span-1">Quantity</h3>
  
      <h3 class="col-span-2 text-right">Total</h3>
    </div>
  
    <hr class="divider divider-primary mt-2" />
  
    <div
      class="flex flex-col"
      x-ref="items"
    >
      <template x-for="(cartItem, index) in $store.cart.data.items">
        {% render 'cart-item' %}
      </template>
    </div>


    <div
      class="flex flex-col gap-2 lg:items-end lg:text-right mt-8"
      x-ref="details"
    >
      <h3 class="text-3xl">
        <span class="font-semibold">Total:</span>
        <span
          x-text="Shopify.formatMoney(
            $store.cart.data.total_price,
            '{{ cart.currency.symbol }}'
          )"
        >
        </span>
      </h3>

      <p>
        Taxes & shipping calculated at checkout.
      </p>

      <a
        class="btn btn-primary w-full lg:max-w-xs text-lg gap-2 mt-4 transition-none"
        href="/checkout"
      >
        {% render 'icon',
          type: 'logout',
          class: 'w-6 h-6'
        %}

        <span>Checkout</span>
      </a>
    </div>
  </div>
</template>

<template x-data x-if="$store.cart.data.item_count === 0">
  <div class="container text-center">
    <h1 class="text-4xl md:text-5xl font-semibold">
      No Items Found!
    </h1>

    <h3 class="text-xl md:text-2xl font-light mt-6">
      <span>
        You have no items in your cart,
      </span>

      <a
        class="link inline-flex"
        href="{{ routes.all_products_collection_url }}"
      >
        click here
      </a>

      <span>
        to browse products.
      </span>
    </h3>

  </div>
</template>

<script>
document.addEventListener("alpine:init", () => {
  Alpine.data("cart", () => ({
    init() {
      this.$nextTick(() => this.introAnimation())
    },
    introAnimation() {
      const tl = anime.timeline({
        begin: () => {
          this.$el.style.opacity = 1
        }
      })

      tl.add({
        targets: this.$refs.heading,
        opacity: [0, 1],
        translateY: [50, 0],
        duration: 500
      }).add({
        targets: this.$refs.sectionTitles.children,
        opacity: [0, 1],
        translateY: [50, 0],
        duration: 500,
        delay: anime.stagger(100)
      }, "-=250").add({
        targets: this.$refs.items.children,
        opacity: [0, 1],
        translateX: (e, index) => {
          if (e.tagName === "TEMPLATE") return
 
          if (index % 2) {
            return ["100vw", "0vw"]
          } else {
            return ["-100vw", "0vw"]
          }

        },
        duration: 750,
        delay: anime.stagger(100),
        easing: "easeOutQuint"
      }, "-=250").add({
        targets: this.$refs.details.children,
        opacity: [0, 1],
        translateX: [50, 0],
        duration: 500,
        delay: anime.stagger(100)
      }, "-=250")
    }
  }))
})
</script>

{% schema %}
{
  "name": "Cart",
  "tag": "section"
}
{% endschema %}